@import '../../../styles.scss';

.wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.error {
  @extend .flex-center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin: auto;
}

.panel {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;

  .header {
    display: flex;
    width: 100%;
    height: 2.8rem;
    background: #444;
    color: #fff;
    font-size: 14pt;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .text {
      @extend .flex-center;

      flex: 1;
    }
    .addon {
      @extend .flex-center;
    }
  }
  .content {
    padding: 0.6rem;
    overflow-y: auto;
    flex: 1;
  }

  &.small {
    max-width: 15rem;
  }
}

.fab {
  @extend .flex-center;
  position: absolute;
  bottom: 1.1rem;
  right: 1.1rem;
  width: 3rem;
  height: 3rem;
  z-index: 666;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.panel {
  border-left: 1px solid $primary;
}
.panel:first-of-type {
  border-left: none;
}

.addon.icon {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    cursor: pointer;
    color: #ccc;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &.live {
    color: #ef5350;

    &:hover {
      color: #ef9a9a;
    }
  }
}

$emoji-size: 2rem;

.emoji {
  @extend .flex-center;

  font-size: 1.3rem;
  width: $emoji-size;
  height: $emoji-size;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: #fff;
}
